@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.sidebar-drawer {
  background: url("octahedral-grid.svg") repeat top center / 100vw auto, #262640;
  opacity: 1;
  background-attachment: scroll;
}
