@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.sidebar-drawer {
  position: relative;
  overflow: hidden;
  background:
    radial-gradient(circle at center, #424270 100%, #131320 0%);
  background-blend-mode: normal;
  opacity: 1;
  background-attachment: fixed;
}

.sidebar-drawer::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url("octahedral-grid.svg") repeat top center / 100vw auto;
  opacity: 0.08;
  pointer-events: none;
  z-index: 0;
  background-attachment: fixed;
}
